@import url('http://fonst.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}


:root {
    --primary-color: #19d228; 
    --secondary-color: #0dcee3; 
    --accent1-color:  #4343dd; 
    --accent2-color: #8a5b0a; 
  
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color:  #4343dd; 
    --nav-link-color: #0cd6f0; 
    --nav-hover-link-color: #6f520a; 
    --nav-hover-background-color: #00ff2a; 
  }

         
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }